/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#auth-section {
	height: 75vh !important;
	background-color: #e1e2e3 !important;
	padding-top: 52px !important;
}
#auth-illus {
	width: 100% !important;
}
#auth-section h1 {
	font-size: 3.7rem;
}
#auth-guide-list {
	padding-left: 5% !important;
}
#auth-guide-list ol li {
	margin: 15px !important;
}
#guide-container {
	margin-top: 15px !important;
	background-color: #ececec !important;
	padding: 15px !important;
}

@media only screen and (max-width: 769px) {
	#auth-section {
		height: 100vh !important;
	}
	#auth-illus {
		width: 60% !important;
	}
	#auth-guide-list ol li {
		margin: 0px !important;
	}
}

@media only screen and (min-width: 1024px) {
	#auth-section {
		padding-top: 100px !important;
	}
	#auth-title {
		font-size: 3vw !important;
	}
	#auth-sub {
		font-size: 1vw !important;
	}
	#auth-guide-list {
		font-size: 1vw !important;
	}
}
