/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#docs-section {
  height: 100vh;
}
#docs-section .level,
#docs-section .level .level-item {
  height: inherit;
}

#docs-section h1 {
  margin-top: -90px !important;
  font-size: 3.5rem;
}

#docs-illus {
  margin-top: 1%;
  width: 40%;
}

.docs-btn {
  text-transform: uppercase !important;
  border-radius: 0 !important;
  text-decoration: none !important;
  border: 0 !important;
  background-color: #ffa31a !important;
  color: #fff !important;
}
.docs-btn:hover {
  color: #fff !important;
}

@media only screen and (max-width: 769px) {
  #docs-illus {
    width: 100%;
  }
}
