/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap");

/* Font styling */
.main {
  font-family: "Source Sans Pro", sans-serif !important;
}
.sub {
  font-family: "Open Sans", sans-serif !important;
}
.heavy {
  font-weight: 800 !important;
}
.black {
  color: #1c1e21 !important;
}
.white {
  color: #fafbfc !important;
}
