/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

#home-hero {
  background-image: url("../assets/BG_LANDING.jpg") !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: #1c1e21 !important;
  padding-top: 52px !important;
}
#home-hero button {
  background-color: #ffa31a !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  border: none !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}
#home-hero h1 {
  font-size: 5rem;
  letter-spacing: 1px !important;
}
#home-hero h2 {
  letter-spacing: 1px !important;
}
#scroll-indicator {
  font-size: 5em !important;
  position: absolute !important;
  margin-top: 36% !important;
  left: 48% !important;
  -webkit-animation: bounce 1s infinite !important;
  animation: bounce 1s infinite !important;
  color: #ffa31a !important;
}
@media only screen and (max-width: 769px) {
  #home-hero h1,
  #home-hero h2 {
    text-align: center !important;
  }
}

.home-cta-btn {
  text-transform: uppercase !important;
  border-radius: 0 !important;
  text-decoration: none !important;
  border: 0 !important;
  background-color: #ffa31a !important;
  color: #1c1e21 !important;
}

.home-cta-btn:hover {
  color: #1c1e21 !important;
}
