/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* General */
@-webkit-keyframes bounce {
  0% {
    top: 10%;
  }
  50% {
    top: 12%;
  }
  100% {
    top: 10%;
  }
}

@keyframes bounce {
  0% {
    top: 10%;
  }
  50% {
    top: 12%;
  }
  100% {
    top: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #231f20;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
