/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/*  Navbar */
.navbar {
  background-color: #1c1e21 !important;
}
.page-anchor {
  text-transform: uppercase !important;
  text-decoration: none !important;
  letter-spacing: 0.05em !important;
  color: #fff;
}
.page-anchor:hover {
  color: #ffa31a !important;
  font-weight: 800 !important;
}
#view-v2-docs-btn {
  background: #ffa31a !important;
  color: #1c1e21 !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  letter-spacing: 0.05em !important;
  border-radius: 0;
  font-weight: 700;
}
#view-v1-docs-btn {
  background: #619519 !important;
  color: #1c1e21 !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  letter-spacing: 0.05em !important;
  border-radius: 0;
  font-weight: 700;
}
#view-v2-docs-btn:hover,
#view-v1-docs-btn:hover {
  background-color: #fff !important;
  transition: 0.2s ease-out !important;
}

@media only screen and (max-width: 769px) {
  .navbar {
    background-color: transparent !important;
  }
}
