/*
 * Copyright (C) 2024 Enterprise Breeding System
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

html {
  background: #ffffff;
}

#status-section h1 {
	font-size: 3.7rem;
  letter-spacing: 0.1rem;
}

.table-body tr td:first-of-type {
	text-align: center;
}

.table-body td:last-of-type {
	letter-spacing: 0.05rem;
	padding-top: 13px;
}

.error-tab {
  color: #d17e02 !important;
}
 
#back-btn {
  font-size: 2rem;
  color: #d17e02 !important;
}

#float-icon {
  margin-top: 17px;
  color: #fff;
}

/* Mobile responsiveness */
@media only screen and (max-width: 769px) {
	#status-section {
		height: 100vh !important;
  }
  #table-body {
    font-size: 0.1rem !important;
  }
  #back-btn {
    font-size: 1.4rem;
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#d17e02;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

@media only screen and (min-width: 1024px) {
	#status-header {
		font-size: 3vw !important;
  }
  #table-body td {
    font-size: 0.1px !important;
  }
}